#player-select{
    margin: 0px;
}

#card-list{
    list-style-type: none;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
#card{
    float: left;
    display: block;
    flex: 0 1 auto;
    text-decoration: none;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
}
