//Colors
$primary-green: #b6e683;
$light-green: #f1ffe3;
$black-blue: #020f42;
$dark-gray: #4d4949;
$light-gray: #bfb8b8;

//Fonts
@font-face {
  font-family: 'main-font';
  src: url('../assets/fonts/Curse-Casual.ttf');
}

@font-face {
  font-family: 'custom-bold';
  src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
}
