.App {
    text-align: center;
}

.body-wrapper{
    background-color: #f1ffe3;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;

    margin: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
}